body {
    margin: 0;
    background-color: hsl(168, 100%, 35%);
}
#app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 25px;
    gap: 25px;
}
.note {
    height: 200px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px hsla(0, 0%, 0%, 0.15);
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    resize: none;
}
.add-note {
    height: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: hsla(0, 0%, 0%, 0.1);
    font-size: 120px;
    color:hsla(0, 0%, 0%, 0.5);
    cursor: pointer;
    transition: background 0.2s;
}
.add-note:hover {
    background-color:hsla(0, 0%, 28%, 0.3);
}





